
.experience-container {
  padding: 20px;
  background-color: #f7e9e9;
  margin: 20px;
 
}
.duration {
  font-size: 1.5em; /* Increase font size for duration */
 
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.experience-timeline {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Gap between cards */
}

.experience-card {
  max-width: 90%; /* Adjust the percentage as needed */
  width: 80%;     /* Set a responsive width */
  margin: 0 auto; /* Center the box horizontally */
  padding: 20px;  /* Ensure some spacing inside the box */
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  font-size: 1.7em; 
}

h3 {
  margin-top: 15px;
  font-size: 1.5em; 
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 1.2em; 
}
@media (min-width: 768px) {
  .white-box {
    max-width: 70%;
  }
}

@media (min-width: 1024px) {
  .white-box {
    max-width: 60%;
  }
}
